* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-flow: column;	
}

.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	height: 10%;
	background-color: #ffeecc;
	padding: 15px 35px;
}
.logo img {
	width: 200px;
}

.logo a {
	position: relative;
	display: block;
}

.logo a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../img/edit.png);
	opacity: 0;
}

.logo a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	opacity: 0;
}

/*.logo a:hover:after, a:hover:before {
	opacity: 1;
}*/

.navigation {
	display: flex;
	align-items: flex-end;
}
.navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.navigation li {
	display: inline-block;
}

.navigation li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}

.navigation li:last-child:after {
	content: none;
}
.navigation li:nth-last-child(2):after {
	content: none;
}

.navigation a {
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	text-transform: uppercase;
	transition: color .2s;
	color: #606060;
	margin: 0 5px;
}

.navigation a:hover {
	color: #000;
}

.sidebar {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 10%;
	height: 100%;
	border-right: 3px solid #000;
	padding: 50px 15px;
	min-width: 200px;
}

.sidebar ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.sidebar li {
	padding-bottom: 35px;
}

.sidebar a {
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	text-transform: uppercase;
	transition: color .2s;
	color: #606060;
}

.sidebar a:hover {
	color: #000;
}

.container {
	display: flex;
	flex-flow: row nowrap;
}

.articlesContainer {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: 90%;
	text-align: center;
}	

.addArticle ul {
	margin: 30px auto;
	text-align: center;
}

.addArticle li {
	list-style: none;
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
}

.round {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 30px;		
	text-decoration: none;		
	text-align: center;
	font-size: 25px;		
	text-shadow: 0 1px 0 rgba(255,255,255,.7);
	letter-spacing: -.065em;
	font-family: "Hammersmith One", sans-serif;		
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	box-shadow: 2px 2px 7px rgba(0,0,0,.2);
	border-radius: 300px;
	z-index: 1;
	border-width: 4px;
	border-style: solid;
}

.round:hover {
	width: 130%;
	height: 130%;
	left: -15%;
	top: -15%;
	font-size: 33px;
	padding-top: 38px;
	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	z-index: 2;
	border-size: 10px;
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

a.blue {
	background-color: rgba(1,151,171,1);
	color: rgba(0,63,71,1);
	border-color: rgba(0,63,71,.2);
}

a.blue:hover {
	color: rgba(1,151,171,1);
}

.round span.round {
	display: block;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	font-size: 1px;
	border: none;
	padding: 40% 20% 0 20%;
	color: #fff;
}

.round span:hover {
	opacity: .85;
	font-size: 16px;
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	text-shadow: 0 1px 1px rgba(0,0,0,.5);	
}

.blue span {
	background: rgba(0,63,71,.7);		
}

/* POPUP */
.fade {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;	
	background-color: rgba(0, 0, 0, 0.5);
}

.popup__content {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	overflow: hidden;
	background-color: #fff;
	margin: 5% auto;
	padding: 15px;
	width: 50%;
	min-width: 800px;
}

.popup__close {
	color: red;
	font-size: 17px;
	cursor: pointer;
	width: 100%;
	margin-bottom: 15px;
	transition: color 0.2s;
}

.popup__close:hover {
	color: #000;
}

.popup__form {
	margin-top: 10px;
}

input {
	outline: none;
}

.buttons {
	margin-top: 15px;
}

.button {
	display: block;
	text-decoration:none;
	text-align:center; 
	text-transform: uppercase;
	padding:11px 32px; 
	border:solid 1px #004F72; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px; 
	border-radius: 4px; 
	font:19px Tahoma, Geneva, sans-serif; 
	font-weight:bold; 
	color:#E5FFFF;
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  	  
}

.save {
	background:#2cab37;
}
.cancel {
	background: red;
}

.article__text {
	width: 70%;
	min-width: 600px;
	min-height: 400px;
	border: 1px solid #000;
	border-radius: 5px;
	-webkit-box-shadow: -1px 10px 36px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 36px -6px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 36px -6px rgba(0,0,0,0.75);
	margin: 10px auto;
	padding: 10px;
}

.article__image {
	float: left;
}

.author{
	padding-top: 20px;
	font-weight: bold;
}