.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 150px;
  flex-flow: column;
}

.order__timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.screen {
  width: 100%;
  display: flex;
  justify-content: center;
}

.row__wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  margin: 5px;
}

.row__seat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid blue;
  color: blue;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  margin: 2px;
  outline: none;
  transition: all ease 0.6s;
}

.row__seat:hover {
  background-color: blue;
  color: #fff;
  cursor: pointer;
}

.premium {
  border: 1px solid orange;
  color: orange;
}

.premium:hover {
  background-color: orange;
  color: #fff;
  cursor: pointer;
}

.econom {
  border: 1px solid green;
  color: green;
}

.econom:hover {
  background-color: green;
  color: #fff;
  cursor: pointer;
}

.booked {
  background-color: gray;
  border: none;
  color: #fff;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.modal-content input {
  width: 150px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sideMenu {
  position: fixed;
  top: 0;
  left: -300px;
  height: 100%;
  width: 200px;
  border-right: 2px dashed #000;
  transition: all 1s ease;
  padding: 20px;
}

.sideMenu__show {
  left: 0px;
}
